@use '../abstracts';

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    -webkit-transition: all .2s;
    transition: all .2s;
    position: relative;
    font-size: abstracts.$default-font-size;
  }
  
  &:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 10px 20px rgba(abstracts.$color-black,.2);
    box-shadow: 0 10px 20px rgba(abstracts.$color-black,.2);

    &:hover::after {
      -webkit-transform: scaleX(1.4) scaleY(1.6);
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  
  &:active {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 5px 10px rgba(abstracts.$color-black,.2);
    box-shadow: 0 5px 10px rgba(abstracts.$color-black,.2);
  }
  
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all .4s;
    transition: all .4s;
  }

  &--white {
    background-color: abstracts.$color-white;
    color: abstracts.$color-grey-dark;
    font-size: 15px;

    &--white::after {
      background-color: abstracts.$color-white;
    }

  }

  &--green {
    background-color: abstracts.$color-primary;
    color: abstracts.$color-white;
    font-size: 15px;

    &--white::after {
      background-color: abstracts.$color-white;
    }

  }
  
  &--animated {
    -webkit-animation: moveInBottom .5s ease-out .75s;
    animation: moveInBottom .5s ease-out .75s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
  }
  
}

.btn-text {
  &:link, 
  &:visited {
      font-size: abstracts.$default-font-size;
      color: abstracts.$color-primary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid abstracts.$color-primary;
      padding: 3px;
      transition: all .2s;
  }

  &:hover {
      background-color: abstracts.$color-primary;
      color: abstracts.$color-white;
      box-shadow: 0 1rem 2rem rgba(abstracts.$color-black, .15);
      transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 .5rem 2rem rgba(abstracts.$color-black, .15);
    transform: translateY(0px);
  }
}